<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts Page</title>
    <style>
        .posts{
            display: flex;
            flex-wrap: wrap;
        }

        .post{
            width: 100%;
            height: 50px;
            background-color: bisque;
            padding: 5px;
            padding-top: 30px;
            margin: 10px;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }
    </style>
    <script>
        let counter = 1;
        const quantity = 20;
        document.addEventListener('DOMContentLoaded')
    </script>
</head>

<body>
    
</body>
</html>